<li class='item'>

  <header class='item-header'>
    <h2 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h2>
    {{ if .Params.subtitle }}
    <p class="item-subtitle">
        {{ .Params.subtitle }}
    </p>
    {{ end }}
  </header>
  <div class='meta'>
      {{ partial "list/date" . }}
      {{ range $taxonomy, $pages := .Site.Taxonomies }}
          {{- if not ( eq $taxonomy "authors" ) -}}
              {{- if ( index $.Params $taxonomy ) -}}
                  {{- $.Scratch.Set "taxonomy" $taxonomy -}}
                  {{- partial "entry/taxonomy-list" $ -}}
              {{- end -}}
          {{- end -}}
      {{ end }}
  </div>
</li>
