<header class='header entry-header'>
  <div class='container sep-after'>
    <div class='header-info'>
        <h1 class='title'>
            {{- .Title -}}
        </h1>
        {{ if .Params.subtitle }}
        <h2 class="item-subtitle">
            {{ .Params.subtitle }}
        </h2>
        {{ end }}
        <!--
        {{ $subtitle := $.Scratch.Get "subtitle" }}
        {{ if $subtitle }}
      {{ if eq .Type "page" }}
      <hr class="small">
      <span class="{{ .Type }}-subheading">{{ $subtitle }}</span>
      {{ else }}
      <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
      {{ end }}
      {{ end }}
      {{ if eq .Type "post" }}
      {{ partial "post_meta.html" . }}
      {{ end }}
      -->
      {{ partial "header/description" . }}
    </div>
    {{ partial "entry/meta" . }}
  </div>
</header>
